/* Add Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-bg: theme(colors.blue.600);
}

.tab-bar {
  @apply border-t border-gray-200 w-full fixed bottom-0;
}

.tab {
  @apply flex-1 flex justify-center whitespace-nowrap py-4 px-1 text-sm font-medium;
  margin-bottom: env(safe-area-inset-bottom);
}

.tab-inactive {
  @apply border-transparent text-gray-500;
}

.tab-active {
  @apply border-t-2 border-blue-600 text-blue-600 flex-1 flex justify-center whitespace-nowrap py-4 px-1 text-sm font-medium;
}

.page {
  height: calc(100vh - 54px - 53px - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  margin-top: env(safe-area-inset-top);
}

.posts {
  @apply p-4 flex flex-col gap-4;
}

.posts a {
  @apply border-gray-200 border-2 rounded-md p-4 flex flex-col gap-4 shadow-sm;
}

/* Fix for iOS area above our custom nav bar */
.app-navbar-notch {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: env(safe-area-inset-top);
  @apply bg-blue-600;
}

.page-footer {
  @apply border-t border-gray-200 w-full fixed bottom-0;
}
